/**
 * Import required settings and mixins from other config scss files
 */
@import 'style_settings';
@import 'mixins';

/**
 * Custom CSS style for GameView Rendering
 */
body {
    font-family: 'Ubuntu', sans-serif;
    background: $lightBGColor;
    color: $appPrimaryColor;
}
header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: $appLightColor;
    padding: 10px 0;
    box-shadow: 0 1px 0 0 rgba(0,0,0, 0.1);
    @include media-query(medium) {
        padding: 5px 0;
    }
    .game-status-header {
        display: inline-block;
        font-weight: normal;
        position: relative;
        float: right;
        right: 30px;
        @include media-query(small) {
            right: 10px;
        }
        .button {
            display: inline-block;
        }
    }
    h2 {
        margin: 0 0 0 50px;
        @include media-query(small) {
            margin: 0 0 0 10px;
        }
        display: inline-block;
        color: $appSecondaryColor;
        &.appname {
            margin-top: 20px;
            margin-left: 30px;
        }
    }
    h4 {
        display: inline-block;
        margin: 0 10px;
        font-weight: 100;
        font-size: 0.8em;
        span {
            color: $appSecondaryColor;
            font-weight: 500;
        }
    }
}
/**
 * Main game card styles
 */
.game-list {
    margin: 100px;
    color: $appPrimaryColor;
    @include media-query(small) {
        margin: 80px auto;
    }
    @include media-query(medium) {
        margin: 60px auto;
    }
    @include media-query(large) {
        margin: 80px auto;
    }
    text-align: center;
    .game-card {
        text-align: left;
        margin: 20px;
        display: inline-block;
        background-color: $appLightColor;
        -webkit-box-shadow: 0px 2px 5px 0px lighten($appSecondaryColor, 0.75);
        -moz-box-shadow: 0px 2px 5px 0px lighten($appSecondaryColor, 0.75);
        box-shadow: 0px 2px 5px 0px lighten($appSecondaryColor, 0.75);
        .game {
            .row {
                border-top: 5px solid $appSecondaryColor;
                height: 100px;
                @include media-query(small) {
                    height: 120px;
                }
            }
            .row:first-child {
                border-top: none;
            }
            .row .cell {
                cursor: pointer;
                display: inline-block;
                height: inherit;
                width: 100px;
                @include media-query(small) {
                    width: 115px;
                }
                border-right: 5px solid $appSecondaryColor;
                background-color: $appLightColor;
                transition: all 1s;
                &:empty:hover {
                    background-color: $appPrimaryColor;
                }
                svg {
                    display: block;
                    height: 64px;
                    width: 64px;
                    margin: 20% auto;
                }
            }
            .cell:last-child {
                border-right: none;
            }
            .game-info {
                background-color: $appSecondaryColor;
                color: $appLightColor;
                width: inherit;
                border-bottom: 1px solid $appLightColor;
                h3 {
                    display: inline-block;
                    margin: 20px 25px;
                    font-size: 0.8em;
                }
                .reset-button {
                    float: right;
                    display: inline-block;
                }
            }
            .game-info:after {
                content: "";
                display: table;
                clear: both;
            }
        }
    }
}
footer {
  background-color: $appSecondaryColor;
  color: lighten($appLightColor, 50%);
  position: fixed;
  @include media-query(small) {
      position: static;
  }
  bottom: 0;
  width: 100%;
  z-index: 1000;
  p {
    text-align: center;
    line-height: 2em;
    margin: 10px;
    @include media-query(small) {
        font-size: 0.5em;
    }
  }
  a{
    text-decoration: none;
    cursor: pointer;
    color: #fff;
  }
  a:hover{
   text-decoration: none;
   cursor: pointer;
   color: #fff;
   background-color: #00A8F2;
 }
}
