/**
 * Style settings to define colors, sizes, fonts and others
 */
$lightBGColor: #EFEFEF;
$appSecondaryColor: #282C35;
$appPrimaryColor: #00A8F2;
$appLightColor : #FFFFFF;

$btnFontSize: 12px;
$btnBGColor: $appPrimaryColor;
