<!doctype html>
<!--[if IE 8 ]><html lang="en" class="ie ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
    <head>
        <meta name="keywords" content="tictoctoe,game,nathan5x">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="description" content="TicTacToe game developed in Backbone JS">
        <meta name="author" content="Sabarinathan Masilamani">
        <meta charset="UTF-8">

        <title>TicTacToe Game - Developed in Open Web Technologies by Sabarinathan Masilamani.</title>

        <!-- build:css css/main.min.css -->
        <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/main.css">
        <!-- endbuild -->

        <!--[if lt IE 9]><script src="js/html5shiv/dist/html5shiv.min.js"></script><![endif]-->
    </head>

    <body>
        <div class="wrapper"></div>
        <footer>
            <p> With love towards open web technologies, this game is developed using HTML5, CSS3, JavaScript, jQuery, BackboneJS and other cool build / util libraries. Explore more on <a href="https://github.com/nathan5x/Tic-Tac-Toe" target="_blank">GitHub repository</a>.</p>
         </footer>
        <!-- build:js js/main.min.js -->
        <script src="js/main.js"></script>
        <!-- endbuild -->
    </body>
</html>
